<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="Contenido">
        <div class="contenedor-imagen">
            <img src="../../../assets/imagenes/mate.jpg" alt="Imagen de la calculadora">
            <div class="texto-superior">
                <p>¡Bienvenido a nuestra Calculadora en línea!</p>
                <p>Nuestra herramienta está diseñada para ayudar a realizar operaciones básicas</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="pie-de-pagina">
            <div class="integrantes">
                <p><strong>Integrantes</strong></p>
                <p>Tania Lojano</p>
            </div>
            <div class="materia">
                <p><strong>Materia</strong></p>
                <p>Programación y Plataformas Web</p>
            </div>
        </div>
    </footer>
</body>
</html>