<section class="Contenido">
    <div class="texto">
        <h2>Suma</h2>
        
        <p>Suma es la operación matemática de composición que consiste en combinar o añadir dos números o más para obtener una cantidad final o total.</p>
        <div class="ejemplos">
            <img src="../../../assets/imagenes/suma ejemplo.png" >
        </div>
        <br>
        <h2> Resta </h2>
        <p>La resta consiste en quitar una cantidad a otra, sustraer un determinado número de elementos a un conjunto. </p>
        <div class="ejemplos">
            <img src="../../../assets/imagenes/resta.jpg" >   
        </div>
        <br>
        <h2> Multiplicación </h2>
        <p> Multiplicar consiste en añadir o sumar un número varias veces. </p>
        <br>
        <div class="ejemplos">
            <img src="../../../assets/imagenes/multiplicacion.jpg" >
        </div>
        <h2> División </h2>
        <p>La división se utiliza para calcular cuántas veces se divide un número entre otro para obtener un resultado y un resto. </p>
        <div class="ejemplos">
            <img src="../../../assets/imagenes/division.jpg" >
        </div>
    </div>
</section>

<footer>
    <div class="pie-de-pagina">
        <div class="integrantes">
            <p><strong>Integrantes:</strong></p>
            <p>Domenika Delgado</p>
            <p>Tania Lojano</p>
        </div>
        <div class="materia">
            <p><strong>Materia:</strong></p>
            <p>Programación y Plataformas Web</p>
        </div>
    </div>
</footer>