.Contenido {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
    justify-content: space-between; 
    margin-bottom: 20px; 
}

h2{
    color:#9A1750
}

@keyframes moverDerecha {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(100px); 
    }
}

.imagen {
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-top: 20px; 
    display: none; 
    
}

.imagen img {
    max-width: 90px; 
    animation: moverDerecha 4s ease-in-out forwards;
}

.imagen:hover img {
    display: block; 
}

footer {
    background-color: #E3E2DF;
    color: #0b0a0a; 
    padding: 20px; 
    text-align: center; 
}

p{
    color:#EE4C7C
}


.pie-de-pagina {
    display: flex; 
    justify-content: space-between; 
    max-width: 500px; 
    margin: 0 auto;
}

.integrantes{

    p{
        color:#9a1750
    }
    

}

.materia{
    p{
        color:#9a1750 
    }
}


.pie-de-pagina p {
    margin-bottom: 10px;}

