<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <div class="calculator-container">
        <h1>Calculadora</h1>
        <div>
            <input type="text" [value]="displayValue" readonly class="custom-input">
            <div class="button-container"></div>
        </div> 
    </div>


    

    <div class="historial-container">
        <h3>Historial de Operaciones</h3>
        <ul>
          <li *ngFor="let operacion of historial">{{ operacion }}</li>
        </ul>
        <button (click)="limpiarHistorial()">Limpiar Historial</button>
      </div>
      
      
</body>
</html>
