<section class="Contenido">
    <div class="texto">
            <h1><strong>Misión</strong></h1>
            <p>"Facilitar la precisión y la eficiencia en cálculos cotidianos, proporcionando herramientas confiables y accesibles que simplifiquen las tareas numéricas."</p>

            <h1><strong>Visión</strong></h1>
            <p>"Convertirnos en la opción preferida de usuarios en todo el mundo al ofrecer calculadoras innovadoras que se adapten a las necesidades cambiantes del mercado, manteniendo siempre nuestro compromiso con la precisión, la fiabilidad y la facilidad de uso."</p>
    </div>
    <div class="texto-imagen-container">
        <div class="imagen">
            <img src="../../../assets/imagenes/calculadora.png" alt="Calculadora">
        </div>
    </div>
</section>

<footer>
    <div class="pie-de-pagina">
        <div class="integrantes">
            <p><strong>Integrantes:</strong></p>
            <p>Domenika Delgado</p>
            <p>Tania Lojano</p>
        </div>
        <div class="materia">
            <p><strong>Materia:</strong></p>
            <p>Programación y Plataformas Web</p>
        </div>
    </div>
</footer>